
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	font-family: "Roboto";
}

nav {
	background-color: rgb(0,0,0);
}

a {
	background-color: rgba(0,0,0,.6);
	color: white;
	text-decoration: none;
	display: inline-block;
	padding: 10%;
	width: 200%;
}

a:hover {
	background-color: white;
	color: black;
}


h1 {
	font-weight: bold;
	font-size: 55%;
	font-family: Roboto, serif;
	text-transform: underline;
	text-align: center;
	color: white;
}

h2 {
	font-weight: normal;
	font-size: 24%;
	font-family: "Roboto" , sans-serif;
	text-decoration: none;
	text-align: center;
	font-style: italic;
	color: white;
}

h3 {
	text-align: center;
	font-size: 35%;
	line-height: 40%;
	color: white;
}

h4 {
	font-size: 30%;
	text-align: center;
	line-height: 30%;
	color: white;
}

h5 {
	text-align: center;
	font-size: 29%;
	background: black;
	color: white;
	border-color: black;
	border-radius: 1em 1em;
	padding: 1em 8em;
	margin: 2em 5em 2em 5em;
	clear: both;
}

#title {
	font-family: Roboto, serif;
}

p {
	font-size: 1.5em;
	line-height: 38%;
	color: rgb(30,12,255);
}

#mission {
	color: white;
	text-align: center;
	background-color: white;
	padding: .8em 0;
}

ul {
	list-style: none;
	margin: 1.5em;
	padding: 1.5em;
}

li {
	display: block;
	text-align: center;
	font-family: barlow;
	color: rgb(25,74,74,.8);
	font-weight: bold;
	font-size: 28px;
	padding: .2em 0;
}

li:hover {
	color: white;
}


aside {
	float: left;
	background-color: red;
	width: 75%;
	padding: 0;
	margin: 0;
}

aside {
	float: right;
	background-color: rgb(25,74,74,.8)
	font-size: 14px;
	width: 25%;
	padding: 0;
	margin: 0;
}


p {
	font-family: Roboto, sans-serif;
	font-size: 49px;
	text-align: center;
	text-decoration: none;
	margin: 40px;
	text-align: center;

}

#cta {
	color:white;
}
a {
	font-family: Arial, sans-serif;
	font-size: 29px;
	text-decoration: none;
	clear: both;
} 
/*Update this to open up compose window with email address attached*/


footer {
	color: black;
	text-align: center;
	padding: 15em;
	margin: 5em 0em;
	background-color: white;
}	

#packages {
	background-color: white;
	color: white;
	border-color: black;
	border-radius: .8em .8em;
	padding: 2em .8em;
	margin: 2em 5em;
}

@media only screen and (max-width: 480px) {
	#wrapper {
		float: none;
		width: auto;
    }
}

@media only screen and (max-width: 220px) {
	#mission {
		padding: 1.5em;
	}
}

